:host {
    margin-bottom: 35px;
}

.starship__image {
    width: 100%;
}

.starship__title {
    margin-top: 10px;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}