.form__title {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
}

.form__input-container {
    margin-bottom: 15px;
}

.form__input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    line-height: 1.1;
    color: #000;
    border: none;
    border-bottom: 1px solid #eaeaea;
    outline: none;

    &::-webkit-input-placeholder { 
        color: #A7A7A7; 
    }
}

.form__input--error {
    border-bottom: 1px solid #FA3B2C;
}

.form__input--label-error {
    color: #FA3B2C;
    font-size: 11px;
}

.form__actions-container {
    * {
        margin-bottom: 20px;
    }
}

.form__loader {
    margin-left: auto;
    margin-right: auto;
    display: block;
}