.header {
    border-bottom: 1px solid #eaeaea;
    margin-top: 20px;
}

.header__title {
    text-align: center;
    font-family: 'Basis Grotesque Pro Bold';
    font-size: 32px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 15px;
}