<h2 class="form__title">Iniciar sesión</h2>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form__input-container" [ngClass]="{'form__input--error': loginForm.controls.username.dirty && loginForm.controls.username.errors }">
        <label class="form__input-label"></label>
        <input type="text" formControlName="username" id="username" class="form__input" placeholder="Nombre de usuario*"/>
        <span *ngIf="loginForm.controls.username.dirty && loginForm.controls.username.errors" class="form__input--label-error">Debe rellenar este campo</span>
    </div>
    <div class="form__input-container" [ngClass]="{ 'form__input--error': loginForm.controls.password.dirty && loginForm.controls.password.errors }">
        <label class="form__input-label"></label>
        <input type="password" formControlName="password" id="password" class="form__input" placeholder="Contraseña*"/>
        <span *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.errors" class="form__input--label-error">Debe rellenar este campo</span>
    </div>
    <div class="form__actions-container">
        <img *ngIf="dataLoading" class="form__loader" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <button [ngClass]="{'form__button--disabled': loginForm.invalid || dataLoading}" class="button button--primary">Iniciar sesión</button>
        <a routerLink="/register" routerLinkActive="active" class="button button--secondary">Crear cuenta</a>
    </div>
</form>
