<h2 class="form__title">Crear cuenta</h2>
<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form__input-container" [ngClass]="{ 'form__input--error': registerForm.controls.firstName.dirty && registerForm.controls.firstName.errors }">
        <input type="text" formControlName="firstName" id="firstName" class="form__input" placeholder="Nombre*"/>
        <span *ngIf="registerForm.controls.firstName.dirty && registerForm.controls.firstName.errors" class="form__input--label-error">Debe rellenar este campo</span>
    </div>
    <div class="form__input-container" [ngClass]="{ 'form__input--error': registerForm.controls.lastName.dirty && registerForm.controls.lastName.errors }">
        <input type="text" formControlName="lastName" id="lastName" class="form__input" placeholder="Apellidos*"/>
        <span *ngIf="registerForm.controls.lastName.dirty && registerForm.controls.lastName.errors" class="form__input--label-error">Debe rellenar este campo</span>
    </div>
    <div class="form__input-container" [ngClass]="{ 'form__input--error': registerForm.controls.username.dirty && registerForm.controls.username.errors }">
        <input type="text" formControlName="username" id="username" class="form__input" placeholder="Nombre de usuario*"/>
        <span *ngIf="registerForm.controls.username.dirty && registerForm.controls.username.errors" class="form__input--label-error">Debe rellenar este campo</span>
    </div>
    <div class="form__input-container" [ngClass]="{ 'form__input--error': registerForm.controls.password.dirty && registerForm.controls.password.errors }">
        <input type="password" formControlName="password" id="password" class="form__input" placeholder="Contraseña*"/>
        <span *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.errors" class="form__input--label-error">Debe rellenar este campo</span>
    </div>
    <div class="form__actions-container">
        <img *ngIf="dataLoading" class="form__loader" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <button [disabled]="registerForm.invalid || dataLoading" class="button button--primary">Crear nueva cuenta</button>
        <a routerLink="/login" routerLinkActive="active" class="button button--secondary">Volver a inicio de sesión</a>
    </div>
</form>
