/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro'), url('./assets/fonts/BasisGrotesquePro-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Basis Grotesque Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro Bold'), url('./assets/fonts/BasisGrotesquePro-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Basis Grotesque Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Basis Grotesque Pro Light'), url('./assets/fonts/BasisGrotesquePro-Light.woff') format('woff');
}

body {
    font-family: 'Basis Grotesque Pro';
    font-size: 20px;
}

a {
    cursor: pointer;
}

.ship .panel-body img {
    max-width: 100%;
    object-fit: cover;
}

.container {
    width: 100%; 
}

@media (min-width: 992px) and (max-width: 1200px){
    .panel-heading {
        min-height: 72px;
        height: 58px;
    }
}

@media (min-width: 992px){
    .container {
        width: 750px; 
    }
}